@font-face {
    font-family: BricolageGrotesque-Bold;
    src: url(/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf);
}

@font-face {
    font-family: BricolageGrotesque-Variable;
    src: url(/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: DMSans-Bold;
    src: url(/assets/fonts/DM_Sans/static/DMSans-Bold.ttf);
}

@font-face {
    font-family: DMSans-Light;
    src: url(/assets/fonts/DM_Sans/static/DMSans-Light.ttf);
}

@font-face {
    font-family: DMSans-Medium;
    src: url(/assets/fonts/DM_Sans/static/DMSans-Medium.ttf);
}

@font-face {
    font-family: DMSans-SemiBold;
    src: url(/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf);
}

@font-face {
    font-family: DMSans-SemiBoldItalic;
    src: url(/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf);
}

@font-face {
    font-family: DMSans-Italic-Variable;
    src: url(/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: DMSans-Variable;
    src: url(/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf)
}